.loader{
  position:absolute;
  top:calc(50% - 20px);
  left:calc(50% - 50px);
  height:100px;
  width:100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image:url(/static/img/chair-2.svg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}
.loader::after{
  content:"Processing...";
  position:absolute;
  bottom:-80px;
  left:0;
  z-index:10;
  color:#ffffff;
  font-size:18px;
  letter-spacing:0.4px;
}
.loader::before{
  content:"";
  position:absolute;
  top:-40px;
  left:-40px;
  z-index:10;
  border:1px solid #5D5D5C;
  border-radius:50%;
  border-top:1px solid #fff;
  width:180px;
  height:180px;
  animation:spin 2s linear infinite;
}
#reset{
  position:absolute;
  bottom:-100px;
  z-index:100;
  color:#ffffff;
  font-size:12px;
  letter-spacing:0.3px;
  text-decoration:underline;
  cursor:pointer;
}

@keyframes spin{
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(360deg); }
}
