body{
	position:relative;
	background-color:#191e80;
	opacity:0;
}
/*banner*/
.bg{
	position:relative;
	z-index:-2;
	height:290px;
	background-color:#EBEEF2;
}
.bg-left{
	height:inherit;
	background:url(/static/img/style-search-logo.svg) 100px 60px/ 220px no-repeat;
}
.bg-right{
	position:absolute;
  z-index:-2;
  right:0;
	height:inherit;
	background:url(/static/img/fotel/fotel@2x.png) right 0/ 460px no-repeat;
	overflow:hidden;
}
@media all and (-webkit-min-device-pixel-ratio:1.2){
	.bg-right{
		background:url(/static/img/fotel/fotel@3x.png) right 0/ 460px no-repeat;
	}
}
@media (max-width:992px){
		.bg-left{
			background:url(/static/img/style-search-logo.svg) 50px 60px/ 150px no-repeat;
		}
		.bg-right{
        background:url(/static/img/fotel/fotel@2x.png) right 0/ cover no-repeat;
    }
}
/*end of banner*/

/*gallery*/
.gallery{
	padding-bottom:100px;
}
.gallery__wide{
	padding-bottom:90px;
}
.gallery--grey{
	padding-top:30px;
	background-color:#ebeef2;
}
.container--not-found{
	display:flex;
	flex-direction:column;
}
.centered{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.left{
	display:flex;
	flex-direction:column;
	align-items:left;
}
.gallery__narrow{
	display:flex;
  flex-direction:column;
	padding-top:40px;
	background-color:#EBEEF2;
	padding-bottom:100px;
}
.col{
	margin-bottom:20px;
}
.form-group{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-bottom:0;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	overflow:hidden;
}
.image{
	width:100%;
	height:initial;
	padding:0;
	border:none;
	border-radius:0;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.image__small{
	width:100%;
	height:initial;
	padding:0;
	margin-bottom:0;
}
.room--description{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:70px;
	background-color:white;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.description-white {
	border:solid 0.5px #e6eaee;
}
@media(min-width:1680px){
	.form-group{
		height:180px;
	}
	.gallery__narrow .form-group{
		height:180px;
	}
}
@media(max-width:1680px){
	.form-group{
		height:170px;
	}
	.gallery__narrow .form-group{
		height:140px;
	}
}
@media(max-width:1440px){
	.form-group{
		height:150px;
	}
	.gallery__narrow .form-group{
		height:140px;
	}
}
@media(max-width:1200px){
	.form-group{
		height:130px;
	}
	.gallery__narrow .form-group{
		height:110px;
	}
}
@media(max-width:992px){
	.form-group{
		height:240px;
	}
	.gallery__narrow .form-group{
		height:240px;
	}
	.header-left{
		text-align:center;
	}
	.header-right{
		justify-content:center;
		margin-bottom:40px;
	}
	.category-item{
		margin-right:40px;
		font-size:14px;
	}
	.category-item .category-link{
		padding:5px 10px;
	}
}
.wrong_file{
	position:initial;
	display:flex;
	justify-content:center;
}
.update_object{
	position:initial;
}
.update_object .container-inner{
	background-color:#2B98F0;
	padding:7px;
}
.container-right-flex{
	display:flex;
	justify-content:center;
}
.container-right{
	position:absolute;
	right:0;
	height:100%;
	padding:0;
	box-shadow:-2px 0px 2px #ccc;
	background-color:#fff;
	overflow:scroll;
	h4{
		width:100%;
		padding:20px 15px;
		font-size:18px;
	}
	.tab-name{
		border-bottom:1px solid #ddd;
		font-size:14px;
	}
	.inner-grey{
		position:relative;
		min-height:400px;
		background-color:#fff;
		display:flex;
		flex-direction:column;
		align-items:center;
		padding:0;
		overflow:hidden;
	}
	.inner-white{
		display:flex;
		flex-direction:column;
		align-items:center;
		background-color:#fff;
		padding:0;
		margin-top:40px;
	}
	.container-items{
		display:flex;
		flex-wrap:wrap;
		padding:0 40px;
		cursor:pointer;
	}
	.tab{
		width:inherit;
		margin-bottom:30px;
		.tab-inner{
			margin-bottom:17px;
		}
		p{
			font-size:14px;
			font-weight:600;
			color:#4a4a4a;
			span{
				color:#36a6f8;
			}
		}
		form{
			.search{
				position:relative;
				.form-control{
					border:1px solid lightgrey;
				  box-shadow:none;
				  border-radius:4px;
				  padding:0 10px;
					font-size:14px;
				}
			}
		}
	}
}
#search-submit1,#search-submit2{
	position:absolute;
	top:10px;
	right:10px;
}
.image-container{
	position:relative;
	height:250px;
	width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
	overflow:hidden;
	background-color:#fff;
}
.image-container img {
	position:absolute;
	max-height:250px;
}
.col-centered {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-bottom:40px;
}
.boxes{
	margin:30px -7px 40px;
}
.boxes .container-fluid{
	position:relative;
	padding:0;
}
.boxes .container-fluid h4{
	margin:30px 15px;
	color:#fff;
	font-size:18px;
}
.owl-carousel{
	overflow:hidden;
}
.owl-wrapper{
	display:flex !important;
}
.owl-item{
	position:relative;
	display:flex;
  justify-content:center;
  align-items:center;
	max-height:100px;
	margin:0 5px;
	overflow:hidden;
	cursor:pointer;
}
.owl-wrapper .owl-item::before{
	content:"";
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:#fff;
	opacity:0.3;
	pointer-events:none;
}
.owl-wrapper .active {
	border:solid white 2px;
}
.owl-wrapper .active::before{
	display:none;
}
.customNavigation{
	position:absolute;
	left:0;
	bottom:calc(0% - 75px);
	width:100%;
}
.customNavigation>span{
	position:absolute;
	background-color:#fff;
}
.pager-left{
	left:calc(50% - 60px);
	box-shadow:0 8px 22px 0 rgba(17, 28, 68, 0.16);
}
.pager-right{
	right:calc(50% - 60px);
	box-shadow:0 8px 22px 0 rgba(17, 28, 68, 0.16);
}
.buttons{
	position:relative;
	display:flex;
	justify-content:center;
	cursor:pointer;
}
.buttons a{
	display:flex;
	justify-content:center;
	align-items:center;
	width:120px;
	height:60px;
	float:left;
	outline:0;
	background-color:#fff;
	color:black;
	border-radius:0;
}
.buttons a:hover{
	background-color:white;
}
#prev{
	border-right:1px solid rgba(17, 28, 68, 0.16);
}
#prev img{
	width:19px;
	height:15px;
}
#next img{
	width:19px;
	height:15px;
	transform:rotate(-180deg);
}
/*end of gallery*/
.container-flex {
	margin:70px 0;
	// width:100%;
}
.container-left{
	height:inherit;
	padding:24px 10px;
	margin-bottom:40px;
	background-color:#fff;
}
.container-left form{
	width:100%;
	display:flex;
	justify-content:center;
}
.form-group-big{
	height:inherit;
	width:inherit;
	background-color:#EBEEF2;
}
.big-image{
  display:block;
  margin:auto;
	min-height:300px;
  max-height:400px;
  max-width:100%;
}
.image-no-margin{
	margin:0;
	margin-bottom:60px;
	width:100%;
	pointer-events:none;
}
@media(max-width:1200px){
	.big-image{
		height:300px;
	}
}
@media(max-width:992px){
	.big-image{
		height:200px;
	}
}
.container-right .nav-pills{
	display:flex;
	justify-content:center;
	margin:30px auto;
	border-bottom:1px solid #ddd;
}
.container-right .nav-pills li a{
	background-color:transparent;
	border-bottom:none;
	border-radius:0;
	color:#676c75;
}
.container-right .nav-pills .active a{
	background-color:transparent;
	border-bottom:4px solid #2B98F0;
	border-radius:0;
	color:#364152;
	font-weight:bold;
}
.container-right .nav-pills li a:hover{
	background-color:transparent;
	color:#364152;
	border-bottom:4px solid #2B98F0;
	font-weight:bold;
}
.container-right .nav-pills .active a:hover{
	background-color:transparent;
	color:#364152;
	font-weight:bold;
}
#close--white{
	position:absolute;
	top:20px;
	right:20px;
	z-index:10;
	height:30px;
	width:30px;
	background-image:url(/static/img/cross-white.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	cursor:pointer;
}
.button__border--white{
	width:200px;
	padding:5px 20px;
	margin-top:12px;
	border:solid 0.5px #ffffff;
	background-color:transparent;
	font-size:14px;
  letter-spacing:0.3px;
  text-align:left;
  color:#ffffff;
}
button input{
	cursor:pointer;
}
.modal .inner{
	position:relative;
	top:5%;
	display:flex;
	flex-direction:column;
	height:600px;
	padding:80px 60px 0;
	margin-bottom:80px;
	background-color:#191e80;
}
.modal .inner form{
  height:350px;
  border:4px dashed #fff;
	border-image-source:url("/static/img/dash.svg");
  border-image-slice:2;
  border-image-repeat:round;
	background-color:rgba(54, 166, 248, 0.4);
	box-sizing:content-box;
  overflow:hidden;
}

.modal .inner form p{
  text-align:center;
  color:#ffffff;
}
.modal .inner form input{
  position:absolute;
	top:0;
	left:0;
  width:100%;
  height:100%;
  outline:none;
	opacity:0;
}
.modal .inner form .form--upload{
	position:relative;
	height:inherit;
	display:flex;
	align-items:center;
}
#uploaded_file{
	z-index:10;
	cursor:pointer;
}
#upload_button{
opacity:1;
}
.modal .inner form .form--upload .img--responsive{
	z-index:-2;
}
.img-desc{
	width:100%;
	z-index:1;
	display:flex;
  flex-direction:column;
	justify-content:center;
	align-items:center;
}
.hidden{
	display:none;
}
.hidden-menu{
	display:none !important;
}
.modal{
  justify-content:center;
	background-color:rgba(0, 0, 0, 0.72);
}
.loading{
	background:transparent url('/static/img/spinner.gif') center no-repeat;
	background-size:30px;
}
