/*navigation*/
.navbar{
	display:flex;
	align-items:center;
	height:80px;
	margin:0;
  background-color:#191E80;
	box-shadow:none;
	.navbar-header{
		width:100%;
		display:flex;
		justify-content:space-between;
		align-items:center;
		.navbar-brand{
			width:200px;
			margin-left:30px !important;
		  background:url(/static/img/tplx-lab.svg) center / contain no-repeat;
		}
		.button__big--blue{
			float:right;
			right:20px;
		}
		&:before, &:after{
			display:none;
		}
	}
}
/*end of navigation*/

/*menu*/
.menu{
	display:flex;
	justify-content:center;
	height:60px;
	border-bottom:1px solid #ddd;
	background-color:#fff;
	//for sticky menu
	top: 0;
  width: 100%;
  z-index: 10;
}
.menu *{
	padding:0;
	margin:0;
}
.menu ul{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	height:inherit;
}
.menu ul li{
	display:flex;
	align-items:flex-end;
	padding:0 20px;
}
.menu ul li:not(:last-child){
  border-right:1px solid #364152;
}
.menu-container{
	width: 100%;
}
.menu-small ul li:not(:last-child){
  border-right:none;
}
.menu ul li a{
	display:flex;
	align-items:center;
	box-shadow:none;
	color:#364152;
	font-weight: 600;
	text-transform:uppercase;
	font-size:14px;
	padding: 10px 10px;
}
.menu ul li .active{
	color:#364152;
	font-weight: bold;
}
.menu ul li a img{
	margin-right:16px;
}
.menu .nav-tabs>li.active>a, .menu .nav-tabs>li.active>a:focus{
	color: #364152;
	box-shadow: none;
}
body .menu .nav-tabs li a:hover, .menu .nav-tabs li a:active, .menu .nav-tabs li a:focus{
	box-shadow:none;
	color:#364152;
	border-bottom:none;
	cursor:pointer;
}
.menu-small{
	width: inherit;
	height:auto;
	margin:0 auto 23px;
	border-bottom:1px solid #ddd;
	background-color:transparent;
}
.menu-small ul li a{
	padding: 10px 10px;
	color: #7f8fa4;
	text-transform: none;
}
.menu-small .nav-tabs>li.active>a, .menu-small .nav-tabs>li.active>a:focus{
	font-weight: bold;
	text-transform: none;
	box-shadow:inset 0 -3px 0 #2196f3;
	color: #364152;
}
.menu-small .nav-tabs li a:hover, .menu-small .nav-tabs li a:active, .menu-small .nav-tabs li a:focus{
	box-shadow:inset 0 -3px 0 #2196f3;
	text-transform: none;
	color:#364152;
	cursor:pointer;
}
.menu-small ul{
	padding:0 10px;
	justify-content: space-between;
	background-color: #ebeef2;
}
/*end of menu*/

.gallery__narrow h4{
	margin-left: 15px;
	margin-bottom:20px;
	font-size:18px;
	color:#444444;
}
.header__gallery{
	position:relative;
	display:flex;
	flex-direction:column;
	margin: 50px 15px 16px;
}
.dropdown-toggle{
	position: relative;
  padding-right: 40px;
	display: flex;
  justify-content: flex-end;
  align-items: center;
	font-size:14px;
	font-weight: 600;
	text-decoration:none;
	color:#fff;
}
.dropdown-toggle:hover, .dropdown-toggle:focus{
	text-decoration:none;
	color:#fff;
}
.dropdown-toggle::after{
	position: absolute;
	right: 5px;
	bottom: 35%;
	content:url(/static/img/elipsis.svg);
}
.header__gallery h3{
	font-size:24px;
	color:#fcfcfc;
}
.header__gallery p{
	font-size:16px;
	color:#fcfcfc;
}
.header__gallery button{
	padding:10px 30px;
	font-size:16px;
	background-color:#39A1EF;
	color:#fff;
	border:none;
}
.header-text{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items: flex-end;
	padding:0 0 12px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.category-item{
	position: relative;
	padding: 5px 60px 5px 0px;
	font-size:16px;
}
.category-item .active:before{
	content: url(/static/img/check-small.svg);
	position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
@media(max-width:1440px){
	.category-item{
		font-size:14px;
	}
	.menu ul li{
		padding:0 10px;
	}
}
.category-item .category-link{
	position: relative;
	padding:0 0 0 20px;
	cursor: pointer;
	text-transform: capitalize;
}
.category-item .active{
	font-weight: bold;
	background-color:#39A1EF;
	text-decoration:none;
}
.category-item .category-link:hover{
	color: #39A1EF;
	background-color:#39A1EF;
	text-decoration:none;
}
.category-item .category-link:focus{
	background-color:#39A1EF;
	text-decoration:none;
}
.header__gallery .dropdown-menu{
	position:absolute;
	right:0;
	left:auto;
	height: 230px;
	width: 250px;
	padding: 20px 0px 20px 20px;
	border-radius: 0;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.dropdown-menu .category-item .category-link{
	color:grey;
	background-color:transparent;
}
.dropdown-menu::after {
	content:"";
	position:absolute;
	bottom:100%;
	right:5px;
	margin:0 auto;
	width:0;
	height:0;
	border-bottom:solid 15px #fff;
	border-left:solid 12px transparent;
	border-right:solid 12px transparent;
}
.dropdown-menu::before{
	content:"";
	position:absolute;
	z-index:10;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	background: linear-gradient(transparent, transparent, transparent, white);
	pointer-events: none
}
.inner-dropdown {
	position:relative;
	height:210px;
	padding-bottom: 60px;
  overflow-y: scroll;
}
.inner-dropdown::-webkit-scrollbar {
    width: 3px;
}

.inner-dropdown::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}

.inner-dropdown::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.nav-up {
    top: -80px;
}
