/*buttons*/
.button__big--blue{
	position:relative;
	width:143px;
	height:49px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor:pointer;
	font-size:12px;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:1px;
	border:none;
	overflow:hidden;
	background-color:#2B98F0;
	color:#fff;
}
.button__big--blue:hover{
	text-decoration:none;
	color:#fff;
}
.button--wide{
	width:auto;
	padding:5px 20px;
	height: auto;
}
/*end of buttons*/
/*text*/
.text--white{
	color:#ffffff;
}
.text{
	margin:0;
	letter-spacing:0.3px;
	text-transform: lowercase;
}
.text--grey-bg{
	display: flex;
	height: 57px;
	background-color: #EBEEF2;
}
.text--grey-bg span{
	margin-left: 5px;
}
.arrow-back {
	display: block;
	height: 20px;
	width: 20px;
	margin-right: 14px;
	background-image: url(/static/img/arrow-thick.svg);
	background-repeat: no-repeat;
	cursor: pointer;
}
.text::first-letter {
  text-transform: uppercase;
}
.text__centered{
  text-align:center;
}
.text--regular{
	text-transform: none;
}
.title__big--thick{
  font-size:36px;
  letter-spacing:0.6px;
	font-weight:bold;
}
.title__big{
  font-size:24px;
	letter-spacing:0.6px;
}
.title__big--blue{
	font-size:36px;
	font-weight:bold;
	letter-spacing:1.2px;
	text-align:center;
	color:#242c88;
	margin-top:60px;
}
.title__small--blue{
	font-size:20px;
	letter-spacing:0.6px;
	text-align:center;
	color:#242c88;
	margin-top:26px;
}
.text--bold{
	font-weight:bold;
}
.text__medium{
	font-size:18px;
}
.text__medium::first-letter {
  text-transform: uppercase;
}
.text__small{
	font-size:14px;
}
.text__big--grey{
	margin:0 0 2px;
	color:#686b70;
	font-size:16px;
	font-weight:bold;
}
.text__big--grey::first-letter {
  text-transform: uppercase;
}
.text__small--grey{
	margin:0;
	color:#7f8fa4;
	font-size:14px;
}
.text__small--grey span{
	font-weight:bold;
}
.text__margin--big{
	margin-bottom:24px;
}
.text__margin--medium{
	margin:18px 40px;
}
.text__margin--small{
	margin-bottom:12px
}
.text__margin-bottom--md{
	margin-bottom:18px
}
#name{
	text-transform:uppercase;
  font-size:28px;
  font-weight:600;
  line-height:1.21;
  letter-spacing:0.7px;
  text-align:left;
  color:#354052;
}
#type{
	text-transform:lowercase;
  font-size:28px;
  font-weight:600;
  line-height:1.21;
  letter-spacing:0.7px;
  text-align:left;
  color:#354052;
}
#desc{
	margin-top:10px;
	text-transform:lowercase;
	font-size:14px;
  letter-spacing:0.3px;
  text-align:left;
  color:#354052;
}
#more{
	margin-top:60px;
	font-size:18px;
  letter-spacing:0.4px;
  text-align:left;
	font-weight:bold;
  color:#354052;
}
#desc::first-letter{
  text-transform:uppercase;
}
#type::first-letter{
  text-transform:uppercase;
}
#load_text{
	text-transform:none;
}
.desc{
  display:none;
}
.title-cont{
	&:before{
		content:attr(title) " ";
	}
}

.tooltip-custom {
    position:relative;
}

.tooltip-custom .tooltiptext {
		position:absolute;
		z-index:1;
		bottom:15px;
		right:-377px;
		width:360px;
		padding:14px;
		display:inline-flex;
    visibility: hidden;
		border-radius:3px;
  	background-color:#1a237e;
  	box-shadow:0 4px 11px 0 rgba(17, 28, 68, 0.16);
		color:#fff;
		font-size:14px;
		span{
			margin:0 20px;
		}
		&:after{
			content:'';
			position:absolute;
			top:25%;
			margin:0 0 0 -50px;
			width:0;
			height:0;
			border-bottom:solid 18px transparent;
			border-left:solid 18px transparent;
			border-right:solid 18px #1a237e;
			border-top:solid 18px transparent;
		}
}

.tooltip-custom:hover .tooltiptext{
 visibility:visible;
}
.btn-close{
	position:absolute;
  right:10px;
  top:10px;
	cursor:pointer;
}
