@import '../../shared.scss';

.Inspiration {
  padding-bottom: 30px;
  background-color: white;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  .spinner {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }
  .inspiration-box {
    background-color: #2c98f0;
    padding: 7px 7px 30px;
    display: flex;
    flex-flow: column;
    align-items: center;  
    margin-bottom: 30px;  
    img {
      max-width: 100%;
    }
  .found-items {
      display: flex;
      height: 112px;
      margin-top: 20px;
      .found-item {
        display: flex;
        margin: 0 5px;
        box-sizing: border-box;
        position: relative;
        height: fit-content;
        cursor: pointer;
        outline-style: none;
        user-select: none;
        &.active {
          border: 2px solid #fff;
        }
        &.inactive:before {
          content: "";
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: #888;
          opacity: .6;
          pointer-events: none;
        }
        img {
          height: 100px;
        }
      }
    }
    .nav-wrapper {
      display: flex;
      justify-content: center;
      width: fit-content;
      .nav {
        display: flex;
        position: absolute;
        box-shadow: 0 8px 22px 0 rgba(17,28,68,.16);
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 60px;
        background-color: #fff;
        border: none;
        cursor: pointer;
        outline-style: none;
        &:first-child {
          border-right: 1px solid rgba(17,28,68,.16);
        }
        &:nth-child(2) {
          transform: rotate(180deg);
        }
      }
    }
  }
}