@import '../../shared.scss';

.GalleryView {
  background-color: $background;
  padding: 30px;
  color: $font-color;
  font-family: $font-family;
  font-weight: lighter;
  min-height: 100%;
  .gallery-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
  .header-text {
    font-family: $font-family;
    padding-bottom: 12px;
    flex: 1;
    h3 {
      font-size: 24px;
      font-weight: lighter;
    }
  }
  .header-actions {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 12px;
    .category-filter {
      cursor: pointer;
    }
  }
}

@media (min-width: 992px) {
  .GalleryView {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .GalleryView {
    width: 1170px;
  }
}