@import '../../shared.scss';

.InspirationView {
  background-color: white;
  width: 100%;
  display: flex;
  .Inspiration {
  }
  h4 {
    font-family: $font-family;
    font-size: 24px;
    letter-spacing: 0.6px;
    font-weight: lighter;
    padding-top: 10px;
    margin: 24px 0;
  }
  h3 {
    margin: 0;
    font-size: 18px;
    color: #444;
    font-weight: 200;
  }
  .inspirations-container {
    max-width: 65%;
    width: 65%;
    .inspirations-section {
      padding: 0 30px;}
    .gallery-section {
      background-color: #EBEEF2;
      padding: 40px 30px 0;
    }
  }
  .items-container {
    max-width: 35%;
    width: 35%;
    box-shadow: -2px 0 2px #ccc;
    min-height: 400px;
  }
}
