@import '../../shared.scss';

.Menu {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .menu-item {
    text-decoration: none;
    padding-right: 20px;
    cursor: pointer;
    min-width: 100px;
    font-weight: 600;
    font-size: 14px;
    font-family: $font-family;
    color: #364152;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;

    &:not(:last-child) {
      border-right: 1px solid #364152;
    }
    img {
      margin-right: 16px;
    }
    &:not(:first-child) {
      padding: 0 20px;
    }
    a {
      text-decoration: inherit;
      color: inherit;
    }
  }
}

@media (min-width: 992px) {
  .Menu {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .Menu {
    width: 1170px;
  }
}