@import '../../shared.scss';


.SearchReady {
  display: flex;
  align-items: center; 
  flex-direction: column;
   h3 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: center;
    color: #242c88;
    margin-top: 30px;
  }
  p {
    font-size: 20px;
    letter-spacing: .6px;
    text-align: center;
    color: #242c88;
    margin-top: 26px;
  }
  img {
    max-width: 250px;
  }
  &.stuck {
    max-height: 100%;
    min-height: 100%;
    padding-top: 60px;
  }
}