@import '../../shared.scss';

.TooplooxLabs {
  background-color: $background;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    display: flex;
    padding-left: 32px;
    img {
        width: 196px;
    }
  }
  .contact-btn {
    padding-right: 20px;     
    a {
    width: 143px;
    height: 49px;
    background-color: #2B98F0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    font-family: proxima-nova,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 200;   
    }
  }
}
