@import '../../shared.scss';

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .spinner {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }
  .gallery-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
  .header-text {
    font-family: $font-family;
    padding-bottom: 12px;
    flex: 1;
    h3 {
      font-size: 24px;
      font-weight: lighter;
    }
  }
  .header-actions {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 12px;
    .category-filter {
      cursor: pointer;
    }
  }
}

@media (min-width: 992px) {
  .SceneGallery {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .SceneGallery {
    width: 1170px;
  }
}
