@import '../../shared.scss';

$dropdown-height: 250px;

.CategoryFilter {
  position: relative;
  .text {
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    display: flex; 
    align-items: flex-start;
    padding-right: 4px;
    img {
      padding-left: 8px;
      padding-top: 3px;
    }
  }
  .content {
    &:before, &:after {
      position: absolute;
      content: " ";
    }
    &:before {
      z-index: 10;
      left: 0;
      bottom: 0;
      width: 100%;
      height: $dropdown-height;
      background: linear-gradient(transparent,transparent,transparent,#fff);
      pointer-events: none;
    }
    &:after {
      bottom: 100%;
      right: 5px;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-bottom: solid 15px #fff;
      border-left: solid 12px transparent;
      border-right: solid 12px transparent;
    }
    margin-top: 10px;
    width: 250px;
    background-color: #fff;
    max-height: $dropdown-height;
    right: 0;
    position: absolute;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
    ul {
      list-style: none;
      overflow: scroll;
      height: 220px;
      li {
        font-family: $font-family;
        cursor: pointer;
        color: gray;
        padding: 5px 0 5px;
      }
      li div.active {
        position: relative;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 14px;
        letter-spacing: 0.1px;
        &:before {
          content: url('../../assets/check-small.svg');
          position: relative;
          left: -20px;
          height: 100%;
          position: absolute;
        }
      }
    }
  }
}