@import '../../shared.scss';

.Tile {
    height: 220px;
    min-width: 260px;
    max-width: 260px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 4px;
    overflow: hidden;
    .thumbnail {
      height: 150px;
      overflow: hidden;
    }
    img {
        width: 100%;
        height: initial;
    }
    .description {
        height: 70px;
        width: 100%;
        background-color: #ffffff;
            padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
        h3 {
                margin: 0 0 2px;
    color: #686b70;
    font-size: 16px;
    font-weight: 700;
        }
        p {
                margin: 0;
    color: #7f8fa4;
    font-size: 14px;
        }
    }
}
