@import '../../shared.scss';


.App {
  width: 100%;

  .bg {
    display: flex;
    z-index:-2;
    height:290px;
    background-color:#EBEEF2;
  }
  .bg-left {
    flex: 1;
    height:inherit;
    background:url('../../assets/style-search-logo.svg') 100px 60px/ 220px no-repeat;
  }
  .bg-right {
    flex: 1;
    height:inherit;
    background:url('../../assets/fotel/fotel@2x.png') right 0/ 460px no-repeat;
    overflow:hidden;
  }
  @media all and (-webkit-min-device-pixel-ratio:1.2){
    .bg-right{
      background:url('../../assets/fotel/fotel@3x.png') right 0/ 460px no-repeat;
    }
  }
  @media (max-width:992px) {
    .bg-left{
      background:url('../../assets/style-search-logo.svg') 50px 60px/ 150px no-repeat;
    }
    .bg-right{
        background:url('../../assets/fotel/fotel@2x.png') right 0/ cover no-repeat;
    }
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-container {
  background-color: white;
  box-shadow: rgba(17, 28, 68, 0.16) 0px 8px 22px 0px;
  z-index: 100;
  border-bottom: 1px solid #ddd;

}

.gallery-container {
  background-color: $background;
}