@import '../../shared.scss';

.Uploader {
  .visible {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(68, 68, 68, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 105;
  }
  .hidden {
    display: none;
  }

  .modal {
    position: relative;
    top: 5%;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-height: 700px;
    padding: 40px 60px 0;
    margin-bottom: 80px;
    background-color: #191e80;
    width: 50%;
    .cancel-cross {
      background-image: url('../../assets/cross-white.svg');
      background-position: center;
      position: absolute;
      top: 20px;
      right: 20px;
      height: 30px;
      width: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    .inner {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-family: $font-family;
      color: white;
      .title {
        font-size: 24px;
        letter-spacing: .6px;
      }
      .desc-text {
        font-size: 14px;
        letter-spacing: .3px;
        font-weight: 400;
      }
      .input-wrapper {
        width: 100%;
        border: 4px dashed #fff;
        border-image-source: url('../../assets/dash.svg');
        border-image-slice: 2;
        border-image-repeat: round;
        height: 350px;
        background-color: rgba(54,166,248,.4);
        position: relative;
        input {
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          z-index: 100;
        }
        .input-description {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          button {
            width: 200px;
            padding: 5px 20px;
            margin-top: 12px;
            border: .5px solid #fff;
            background-color: transparent;
            font-size: 14px;
            letter-spacing: .3px;
            text-align: left;
            color: #fff;
          }
        }
      }
    }
  }

}