@import '../../shared.scss';


.SearchResults {
  font-family: $font-family;
  letter-spacing: .3px;
  color: $font-color-dark;
  display: flex;
  align-items: center;
  flex-direction: column;
  .search {
    display: flex;
    justify-content: center;
    padding: 6px 6px;
    input {
      border: 1px solid #eae9e9;
      height: 26px;
      flex: 2;
      outline: 0;
      padding: 0 4px;
      box-sizing: border-box;
      text-decoration: none;
      font-family: proxima-nova,sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 200;
    }
    button {
      max-width: 120px;
      flex: 1;
      height: 26px;
      background-color: #2B98F0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      text-decoration: none;
      font-family: proxima-nova,sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 200;
      outline: 0;
    }
  }
  .wrapper {
    width: 100%;
    overflow-y: scroll;
  }
  .matching-item {
    font-family: $font-family;
    padding-left: 50px;
    .type {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: .7px;
    text-align: left;
    color: #354052;
    text-transform: capitalize;
    }
    .name {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: .7px;
    text-align: left;
    color: #354052;
    text-transform: uppercase;
    }
    .description {

    }
  }
  .title {
    background-color: #EBEEF2;
    padding: 20px 15px;
    color: #444444;
    p {
        font-size: 18px;
        display: inline;
    }
    b {
      font-weight: bold;
      color: #3786fa;
      margin-left: 4px;
    }
    img {
        margin-right: 10px;
    }
    .go-back {
        cursor: pointer;
    }
  }
  .item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    img {
        max-height: 250px;
        max-width: 100%;
    }
  }
  &.stuck {
    padding: 60px 0;
    height: calc(100% - 60px);
  }
  .more {
    margin-top: 60px;
    font-size: 18px;
    letter-spacing: .4px;
    text-align: left;
    font-weight: 700;
    color: #354052;
  }
  .menu {
    background-color: #ebeef2;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    .menu-item {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 10px;
      cursor: pointer;
      &.active {
        box-shadow: inset 0 -3px 0 #2196f3;
      }
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
      padding: 5px;
        .item-thumbnail {
            cursor: pointer;
            img {
                max-width: 100%;
            }
        }
        .thumbnail-type {
          font-weight: 700;
          font-size: 14px;
          margin: 4px;
          text-transform: capitalize;
        }
        .thumbnail-name {
          font-weight: 200;
          font-size: 14px;
          margin: 4px;
          text-transform: lowercase;
        }
        p::first-letter {
          text-transform: capitalize;
        }
        p {
            margin: 4px;
        }
    }
  }
}
