<html lang="en">
	<head>
	<title>Style Search</title>
	<link rel="icon" href="{{ url_for('static', filename='labs.ico') }}" sizes="32x32">

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Tether JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

	<!-- Bootstrap JS-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- jCrop -->
	<script src="http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js"></script>
	<link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.css" type="text/css" />

	<!-- owl-carousel.js -->
	<script src="https://cdn.jsdelivr.net/g/jquery.owlcarousel@1.31"></script>

	<!-- My styles -->
	<link href="/static/style/main.min.css" rel="stylesheet">

	<script src="https://use.typekit.net/nhg2hfo.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

	{% block extra_scripts %}{% endblock %}

	</head>

	<body>
		<div id="mySpinner"></div>

			<nav class="navbar navbar-default">

					<div class="navbar-header">
						<a class="navbar-brand" href="/"></a>
						<a class="button__big--blue" href="https://www.tooploox.com/#contact" target="_blank">Let's talk</a>
					</div>

			</nav>

				<section class="bg">

					<div class="col-lg-6 col-md-6 col-xs-4 bg-left"></div>
					<div class="col-lg-6 col-md-6 col-xs-8 bg-right"></div>

				</section>

				<section class="menu" id="menu">

					<ul class="nav nav-tabs container">
						<li class="nav-item">
							<a class="nav-link" title="Inspirations gallery" href="/scene_gallery"><img src="/static/img/icon-gallery.svg"/>Inspirations gallery</a>
						</li>
						<li class="nav-item">
							<a id="modal-trigger" class="nav-link" title="Your own picture"><img src="/static/img/icon-camera.svg"/>Your own image</a>
						</li>
					</ul>

				</section>


				{% block content %}{% endblock %}

	<!-- My scripts-->
	<script type="text/javascript" src="/static/js/index.min.js"></script>
	</body>


</html>
