{% extends "base.html" %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
{% endblock %}

{% block content %}

<section class="container">
	<div class="update_object col-lg-12 col-md-12 col-xs-12">


		<div class="container-left col-lg-8 col-md-8 col-xs-8">
			<h4 class="text title__big text__margin--big">We have found {{object_images_number}} item(s) in the picture</h4>
			<div class="container-inner">

				<form action="/update_object" name="updateobject_form" method="POST" enctype="multipart/form-data" runat="server">
					<div class="form-group-big">
						<input type ="image" src= "{{query_image}}" id="detections_img" class="big-image" />
						<input type="hidden" name="category" value ="{{ category }}" class="image--category" />
						<input type="hidden" name="form_x" size="4" />
						<input type="hidden" name="form_y" size="4" />
						<input type="hidden" name="width" size="4" />
						<input type="hidden" name="query_image" value="{{query_image}}"/>
						<input type="hidden" name="object_image" value="{{object_image}}"/>
						<input type="hidden" name="object_images" value="{{object_images}}"/>
						<input type="hidden" name="object_class" value="{{object_class}}"/>
						<input type="hidden" name="result_images" value="{{result_images}}" >
						<input type="hidden" name="carousel" value="0">

					</div>
				</form>

				<div class="boxes">
					<div class="container-fluid tooltip-custom">
						<div id="owl" class="owl-carousel owl-theme">
							{% for carousel_object_image in object_images %}

							<form action="/update_object" name="update_carousel_form" method="POST" enctype="multipart/form-data" runat="server">
								<input type="image" src= "{{carousel_object_image}}" id="carousel_object_image" >
								<input type="hidden" name="category" value="{{category}}" />
								<input type="hidden" name="carousel" value="1">
								<input type="hidden" name="query_image" value="{{query_image}}"/>
								<input type="hidden" name="form_x" size="4" />
								<input type="hidden" name="form_y" size="4" />
								<input type="hidden" name="width" size="4" value="1" />
								<input type="hidden" name="object_image" value="{{carousel_object_image}}"/>
								<input type="hidden" name="object_images" value="{{object_images}}"/>
								<input type="hidden" name="object_class" value="{{object_class}}"/>
								<input type="hidden" name="result_images" value="{{result_images}}" />
							</form>

							{% endfor %}
						</div><!-- #owl-demo-2 -->

						<div class="customNavigation">
								<div class="buttons">
									<span class="pager-left">
										<a class="btn btn-link prev" id="prev"><img class="carousel__button--prev" src="/static/img/arrow.svg" /></a>
									</span>
									<span class="pager-right">
										<a class="btn btn-link next" id="next"><img class="carousel__button--next" src="/static/img/arrow.svg" /></a>
									</span>
								</div>
			 			</div>

					<div class="tooltiptext"><img src="/static/img/info-icon.svg"/><span>Click on thumbnails to see similar and matched items</span></div>

					</div><!-- .container -->

				</div>
			</div>

		</div>

		<div class="container-right container-right-flex col-lg-4 col-md-4 col-xs-4">
			<div class="inner-white col-lg-9 col-md-9 col-xs-9">
				<p class="title__big--blue">Let's start</p>
				<img src="/static/img/camera.png" alt="" style="max-width:250;">
				<p class="title__small--blue">Find furniture that fits your chosen interior </p>
			</div>
		</div>

	</div>


</section>

<div class="modal" id="modal">
	<div class="inner col-lg-6 col-md-6 col-xs-8">

		<h3 class="title__big text text__centered text--bold text--white text__margin--medium">Use your own picture</h3>
		<p id="load_text" class="text__small text text__centered text--white text__margin--big">Upload the picture of interior design which inspires you. We’ll do the rest</p>
		<span id="close--white"></span>
			<form action="/uploader" id="upload_form" method="POST" enctype="multipart/form-data" runat="server">

				<div class="form__group form--upload">
					<input type = "file" id="uploaded_file" class="form-control-file" name = "file" />
					<input type="hidden" size="4" id="x1" name="x1" />
					<input type="hidden" size="4" id="y1" name="y1" />
					<input type="hidden" size="4" id="x2" name="x2" />
					<input type="hidden" size="4" id="y2" name="y2" />
					<input type="hidden" size="4" id="w" name="w" />
					<input type="hidden" size="4" id="h" name="h" />
					<input type="hidden" id="querybox" name="query">
					<input type="hidden" name="carousel" value="False">

					<div class="img-desc">
						<img class="img--responsive" src="/static/img/chair.svg" id="target">
						<p class="text text__medium text--bold text--white">Drag and drop</p>
						<p class="text text__small text--bold text--white">your picture anywhere here</p>
						<p class="text text__small text--white">or</p>
						<button class="button__border--white">Choose from computer<input type = "file" class="form-control-file" name = "file" /></button>
					</div>
				</div>

				<input type="hidden" id="querybox" name="query">

			</form>

			<div class="hidden"><a id="reset">Cancel</a></div>

			<p id="load_text-bottom" class="text text__centered text__small text--white text__margin--medium">Your JPG or PNG image can't be larger than 4000px in width and height, and must be smaller than 5MB in file size.</p>

	</div>

</div>

<section class="gallery__narrow">
<div class="container">
	<h4 class="col-lg-8 col-md-8 col-xs-8">More {{ category }}</h4>
</div>
<div id="gallery" class="container"></div>
<script>
(function () {
	'use strict';

	// Thumbnail Component
	var Thumbnail = React.createClass({
		render: function () {
			return React.createElement(
				'div',
				{
					className: 'col col-lg-4 col-md-4 col-xs-12'
				},
				React.createElement(
					'form',
					{
						method: "POST",
						className: 'thumbnail__small loading',
						encType: "multipart/form-data",
						action: "/gallery_uploader"
					},
					React.createElement(
						'div',
						{
							href: this.props.scene.detailsUrl,
							className: 'form-group'
						},
						React.createElement('input', {
							type: 'hidden',
							name: 'filename',
							value: this.props.scene.imageUrl
						}),
						React.createElement('input', {
							type: 'hidden',
							name: 'category',
							value: this.props.scene.category,
							className: 'image--category'
						}),
						React.createElement('input', {
							type: 'image',
							src: this.props.scene.imageUrl,
							width: 100,
							height: 100,
							className: 'image'
						}),
						React.createElement('input', {
							type: 'hidden',
							name: 'gallery_type',
							value: 'scene'
						})
					)
				),
				React.createElement('div', {
					className: 'room--description'
				},
				React.createElement('h3', {
					title: this.props.scene.category,
					className: 'text__big--grey title-cont'
				}),
				React.createElement('p', {
					title: 'Producer: IKEA',
					className: 'text__small--grey title-cont'
				})
			)
		)
	}
});

// Gellery Component
var Gallery = React.createClass({
	getInitialState: function () {
		return { scenes: [] };
	},
	componentDidMount: function () {
		var component = this;
		axios.get("/api/v1/scenes")
		.then(function (result) {
			component.setState({ scenes: result.data.photos });
		})
		.catch(function (error) {
			console.log(error);
		});
	},
	render: function () {
		var thumbnails = this.state.scenes.map(function (scene, i) {
			return React.createElement(Thumbnail, {
				scene: scene,
				key: 'image-' + i
			});
		});
		return React.createElement('div', {className: 'gallery col-lg-8 col-md-8 col-xs-8'}, thumbnails);
	}
});

var gallery = React.createElement(Gallery, {});

ReactDOM.render(gallery, document.getElementById('gallery'));

}());
</script>
</section>


{% endblock %}
