{% extends "base.html" %}

{% block content %}

<section class="container">

	<div class="update_object col-lg-12 col-md-12 col-xs-12">

		<div class="container-flex">

			<div class="col-lg-6 col-md-6 col-xs-6">

				<form action="/update_object" name="updateobject_form" method="POST" enctype="multipart/form-data" runat="server">
					<input type ="image" src= "{{query_image}}" id="detections_img" class="image-no-margin" />
				</form>

			</div>

			<div class="col-lg-6 col-md-6 col-xs-6">

				<h4 class="text title__big--thick text__margin--small">We are sorry,</h4>
				<h4 class="text title__big">We cannot find any furniture item(s) in this picture</h4>

			</div>


		</div>

	</div>


</section>

<div class="modal" id="modal">
	<div class="inner col-lg-6 col-md-6 col-xs-8">

		<h3 class="title__big text text__centered text--bold text--white text__margin--medium">Use your own picture</h3>
		<p id="load_text" class="text__small text text__centered text--white text__margin--big">Upload the picture of interior design which inspires you. We’ll do the rest</p>
		<span id="close--white"></span>
			<form action="/uploader" id="upload_form" method="POST" enctype="multipart/form-data" runat="server">

				<div class="form__group form--upload">
					<input type = "file" id="uploaded_file" class="form-control-file" name = "file" />
					<input type="hidden" size="4" id="x1" name="x1" />
					<input type="hidden" size="4" id="y1" name="y1" />
					<input type="hidden" size="4" id="x2" name="x2" />
					<input type="hidden" size="4" id="y2" name="y2" />
					<input type="hidden" size="4" id="w" name="w" />
					<input type="hidden" size="4" id="h" name="h" />
					<input type="hidden" id="querybox" name="query">
					<input type="hidden" name="carousel" value="False">

					<div class="img-desc">
						<img class="img--responsive" src="/static/img/chair.svg" id="target">
						<p class="text text__medium text--bold text--white">Drag and drop</p>
						<p class="text text__small text--bold text--white">your picture anywhere here</p>
						<p class="text text__small text--white">or</p>
						<button class="button__border--white">Choose from computer<input type = "file" class="form-control-file" name = "file" /></button>
					</div>
				</div>

				<input type="hidden" id="querybox" name="query">

			</form>

			<div class="hidden"><a id="reset">Cancel</a></div>

			<p id="load_text-bottom" class="text text__centered text__small text--white text__margin--medium">Your JPG or PNG image can't be larger than 4000px in width and height, and must be smaller than 5MB in file size.</p>

	</div>

</div>

<section class="gallery__wide">

	<div class="container">
		<div class="container--not-found col-lg-12 col-md-12 col-xs-12">
			<h4 class="text text__medium text__margin--big" style="margin-left: 15px;">Try another picture :</h4>

			<div>
				{% for image in row %}
				<div class="col col-lg-3 col-md-3 col-xs-12">
					<form action="/gallery_uploader" method="POST" enctype="multipart/form-data">

						<div class="form-group">
							<input type="hidden" name="filename" value="{{ image.src }}"/>
							<input type="hidden" name="category" value ="{{ image.category }}" class="image--category" />
							<input type="image" class="image" src="{{ image.src }}"/>
							<input type="hidden" name="gallery_type" value="scene" />
						</div>

						<div class="room--description description-white">
							<h3 class="text__big--grey room--category">{{ image.category }}</h3>
							<p class="text__small--grey">Producer: IKEA</p>
						</div>

					</form>
				</div>
				{% endfor %}
			</div>
			<div class="centered">
				<p class="text__medium text__margin--medium">or</p>
				<button id="modal-trigger2" class="button__big--blue button--wide text text__medium">Add your own image</button>
			</div>

		</div>

	</div>

</section>


{% endblock %}
