{% extends "base.html" %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
{% endblock %}

{% block content %}

<section class="gallery container">

	<div class="header__gallery">

		<div class="header-text">
			<div>
				<h3 class="title__big text text__medium text--white text__margin-bottom--md">Inspirations gallery</h3>
				<p class="text text__small text--white">We will detect furniture items and look for similar ones in our database.</p>
			</div>
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All categories</a>
			<div class="dropdown-menu">
				<ul class="inner-dropdown">
					<li class="category-item">
						<a class="category-link active" id="all">All categories</a>
					</li>
					{% for category in categories %}
					<li class="category-item">
						<a class="category-link" id="{{category}}">{{category}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>

		</div>

	</div>

	<div id="gallery"></div>

	<script>
	(function () {
		'use strict';

		// Thumbnail Component
		var Thumbnail = React.createClass({
			render: function () {
				return React.createElement(
					'div',
					{
						className: 'group'
					},
					React.createElement(
						'div',
						{
							className: this.props.scene.category + ' ' + 'col col-lg-3 col-md-3 col-xs-6'
						},
						React.createElement(
							'form',
							{
								method: "POST",
								className: 'thumbnail__small loading',
								encType: "multipart/form-data",
								action: "/gallery_uploader"
							},
							React.createElement(
								'div',
								{
									href: this.props.scene.detailsUrl,
									className: 'form-group'
								},
								React.createElement('input', {
									type: 'hidden',
									name: 'filename',
									value: this.props.scene.imageUrl
								}),
								React.createElement('input', {
									type: 'hidden',
									name: 'category',
									value: this.props.scene.category
								}),
								React.createElement('input', {
									type: 'image',
									src: this.props.scene.imageUrl,
									// 'data-src': this.props.scene.imageUrl,
									width: 100,
									height: 100,
									className: 'image'
								}),
								React.createElement('input', {
									type: 'hidden',
									name: 'gallery_type',
									value: 'scene'
								})
							)
						),
						React.createElement('div', {
							className: 'room--description'
						},
						React.createElement('h3', {
							title: this.props.scene.category,
							className: 'text__big--grey title-cont'
						}),
						React.createElement('p', {
							title: 'Producer: IKEA',
							className: 'text__small--grey title-cont'
						})
					)
				)
			);
		}
	});

	// Gellery Component
	var Gallery = React.createClass({
		getInitialState: function () {
			return { scenes: [] };
		},
		componentDidMount: function () {
			var component = this;
			axios.get("/api/v1/scenes")
			.then(function (result) {
				component.setState({ scenes: result.data.photos });
			})
			.catch(function (error) {
				console.log(error);
			});
		},
		render: function () {
			var thumbnails = this.state.scenes.map(function (scene, i) {
				return React.createElement(Thumbnail, {
					scene: scene,
					key: 'image-' + i
				});
			});
			return React.createElement('div', {className: 'gallery'}, thumbnails);
		}
	});

	var gallery = React.createElement(Gallery, {});

	ReactDOM.render(gallery, document.getElementById('gallery'));

}());
</script>


<div class="modal" id="modal">
	<div class="inner col-lg-6 col-md-6 col-xs-8">

		<h3 class="title__big text text__centered text--bold text--white text__margin--medium">Use your own picture</h3>
		<p id="load_text" class="text__small text text__centered text--white text__margin--big">Upload the picture of interior design which inspires you. We’ll do the rest</p>
		<span id="close--white"></span>
		<form action="/uploader" id="upload_form" method="POST" enctype="multipart/form-data" runat="server">

			<div class="form__group form--upload">
				<input type = "file" id="uploaded_file" class="form-control-file" name = "file" />
				<input type="hidden" size="4" id="x1" name="x1" />
				<input type="hidden" size="4" id="y1" name="y1" />
				<input type="hidden" size="4" id="x2" name="x2" />
				<input type="hidden" size="4" id="y2" name="y2" />
				<input type="hidden" size="4" id="w" name="w" />
				<input type="hidden" size="4" id="h" name="h" />
				<input type="hidden" id="querybox" name="query">

				<div class="img-desc">
					<img class="img--responsive" src="/static/img/chair.svg" id="target">
					<p class="text text__medium text--bold text--white">Drag and drop</p>
					<p class="text text__small text--bold text--white">your picture anywhere here</p>
					<p class="text text__small text--white">or</p>
					<button class="button__border--white">Choose from computer<input type = "file" class="form-control-file" name = "file" /></button>
				</div>
			</div>

			<input type="hidden" id="querybox" name="query">

		</form>

		<div class="hidden"><a id="reset">Cancel</a></div>

		<p id="load_text-bottom" class="text text__centered text__small text--white text__margin--medium">Your JPG or PNG image can't be larger than 4000px in width and height, and must be smaller than 5MB in file size.</p>

	</div>
</div>

</section>
{% endblock %}
