{% extends "base.html" %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
{% endblock %}

{% block content %}

<section class="container">
<div class="update_object col-lg-12 col-md-12 col-xs-12">


	<div class="container-left col-lg-8 col-md-8 col-xs-8">
		<h4 class="text title__big text__margin--big">We have found {{object_images_number}} item(s) in the picture</h4>
		<div class="container-inner">

			<form action="/update_object" name="updateobject_form" method="POST" enctype="multipart/form-data" runat="server">
				<div class="form-group-big">
					<input type ="image" src= "{{query_image}}" id="detections_img" class="big-image" />
					<input type="hidden" name="category" value ="{{ category }}" class="image--category" />
					<input type="hidden" name="form_x" size="4" />
					<input type="hidden" name="form_y" size="4" />
					<input type="hidden" name="width" size="4" />
					<input type="hidden" name="query_image" value="{{query_image}}"/>
					<input type="hidden" name="object_image" value="{{object_image}}"/>
					<input type="hidden" name="object_images" value="{{object_images}}"/>
					<input type="hidden" name="object_class" value="{{object_class}}"/>
					<input type="hidden" name="result_images" value="{{result_images}}" >
					<input type="hidden" name="carousel" value="0">

				</div>
			</form>

			<div class="boxes">
				<div class="container-fluid">
					<div id="owl" class="owl-carousel owl-theme">
						{% for carousel_object_image in object_images %}

						<form action="/update_object" name="update_carousel_form" method="POST" enctype="multipart/form-data" runat="server">
							<input type="image" src= "{{carousel_object_image}}" id="carousel_object_image" >
							<input type="hidden" name="category" value="{{category}}" />
							<input type="hidden" name="carousel" value="1">
							<input type="hidden" name="query_image" value="{{query_image}}"/>
							<input type="hidden" name="form_x" size="4" />
							<input type="hidden" name="form_y" size="4" />
							<input type="hidden" name="width" size="4" value="1" />
							<input type="hidden" name="object_image" value="{{carousel_object_image}}"/>
							<input type="hidden" name="object_images" value="{{object_images}}"/>
							<input type="hidden" name="object_class" value="{{object_class}}"/>
							<input type="hidden" name="result_images" value="{{result_images}}" />
						</form>

						{% endfor %}
					</div><!-- #owl-demo-2 -->

					<div class="customNavigation">
						<div class="buttons">
							<span class="pager-left">
								<a class="btn btn-link prev" id="prev"><img class="carousel__button--prev" src="/static/img/arrow.svg" /></a>
							</span>
							<span class="pager-right">
								<a class="btn btn-link next" id="next"><img class="carousel__button--next" src="/static/img/arrow.svg" /></a>
							</span>
						</div>
					</div>

				</div><!-- .container -->
			</div>
		</div>

	</div>


	<div class="container-right col-lg-4 col-md-4 col-xs-4" id="container-right">
		<div class="inner-grey col-lg-12 col-md-12 col-xs-12">
			<h4 id="title-1" class="text text--grey-bg text--regular">Search results for selected object: <span style="color: {{object_color}};font-weight:bold">{{object_class}}</span><a class="active">{{text_query}}</a></h4>
			<h4 id="title-2" class="text text--grey-bg text--regular hidden-menu"><a class="arrow-back"></a>Back to search results</h4>

			<div class="image-container">
				<img src= "{{object_image}}" />
			</div>
			<div class="col-sidebar hidden-menu col-lg-10 col-md-10 col-xs-10">
				<p id="type"></p>
				<p id="name"></p>
				<p id="desc"></p>
				<p id="more"></p>
			</div>

			<div class="menu-container">

				<div class="menu menu-small">
					<ul class="nav nav-tabs container">
						<li class="nav-item active" id="tab2">
							<a class="nav-link text" title="Similar objects">Similar items</a>
						</li>
						<li class="nav-item" id="tab1">
							<a class="nav-link text" title="Complementary objects">Matching items</a>
						</li>
					</ul>
				</div>

				<div class="tab">
					<div class="tab-inner col-lg-12 col-md-12 col-xs-12">
					<form class="search-form" action="/update_text" method="POST" enctype="multipart/form-data" runat="server">
						<div class="search">
							<input type="image" id="search-submit1" alt="Search" src="/static/img/search.svg" />
							<input type="text" id="querybox1"  name="query" class="form-control"
							placeholder="Add some text to extend your search query" required autofocus>
							<input type="hidden" name="query_image" value="{{query_image}}"/>
							<input type="hidden" name="query" value="{{query}}"/>
							<input type="hidden" name="object_image" value="{{object_image}}"/>
							<input type="hidden" name="object_images" value="{{object_images}}"/>
							<input type="hidden" name="object_class" value="{{object_class}}"/>
							<input type="hidden" name="result_images" value="{{result_images}}" />
							<input type="hidden" name="category" value = "{{category}}" />
							<input type="hidden" name="carousel" value="False">
							<input type="hidden" name="complementary_objects" value="{{complementary_objects}}">
						</div>
					</form>
					</div>
					<p class="col-lg-12 col-md-12 col-xs-12">Showing {{result_images_number}} results using some of your search terms:<span>&nbsp{{query}}</span></p>
				</div>

			</div>

		</div>

		<div class="inner-white col-lg-12 col-md-12 col-xs-12">
			<div class="container-items">
				{% for complementary_object,name_matching,furniture_type_matching,description_matching in complementary %}
				<div class="tab1 col-centered col-xs-6 col-md-6 col-lg-6" style="display:none;">
					<img class="image__small" src = "{{complementary_object}}">
					<p class="text__small text text--bold type">{{furniture_type_matching}}</p>
					<p class="text__small text name">{{name_matching}}</p>
					<p class="text desc">{{description_matching}}</p>
				</div>
				{% endfor %}

				{% for image,name,furniture_type,description in all %}
				<div class="tab2 col-centered col-xs-6 col-md-6 col-lg-6">
					<img class="image__small" src = "{{image}}">
					<p class="text__small text text--bold type">{{furniture_type}}</p>
					<p class="text__small text name">{{name}}</p>
					<p class="text desc">{{description}}</p>
				</div>
				{% endfor %}
			</div>

		</div>

	</div>

</div>


</section>

<div class="modal" id="modal">
<div class="inner col-lg-6 col-md-6 col-xs-8">

	<h3 class="title__big text text__centered text--bold text--white text__margin--medium">Use your own picture</h3>
	<p id="load_text" class="text__small text text__centered text--white text__margin--big">Upload the picture of interior design which inspires you. We’ll do the rest</p>
	<span id="close--white"></span>
	<form action="/uploader" id="upload_form" method="POST" enctype="multipart/form-data" runat="server">

		<div class="form__group form--upload">
			<input type = "file" id="uploaded_file" class="form-control-file" name = "file" />
			<input type="hidden" size="4" id="x1" name="x1" />
			<input type="hidden" size="4" id="y1" name="y1" />
			<input type="hidden" size="4" id="x2" name="x2" />
			<input type="hidden" size="4" id="y2" name="y2" />
			<input type="hidden" size="4" id="w" name="w" />
			<input type="hidden" size="4" id="h" name="h" />
			<input type="hidden" id="querybox" name="query">
			<input type="hidden" name="carousel" value="False">

			<div class="img-desc">
				<img class="img--responsive" src="/static/img/chair.svg" id="target">
				<p class="text text__medium text--bold text--white">Drag and drop</p>
				<p class="text text__small text--bold text--white">your picture anywhere here</p>
				<p class="text text__small text--white">or</p>
				<button class="button__border--white">Choose from computer<input type = "file" class="form-control-file" name = "file" /></button>
			</div>
		</div>

		<input type="hidden" id="querybox" name="query">

	</form>

	<div class="hidden"><a id="reset">Cancel</a></div>

	<p id="load_text-bottom" class="text text__centered text__small text--white text__margin--medium">Your JPG or PNG image can't be larger than 4000px in width and height, and must be smaller than 5MB in file size.</p>

</div>

</div>

<section class="gallery__narrow">
<div class="container">
	<h4 class="col-lg-8 col-md-8 col-xs-8">See more in category: <span style="font-weight:bold;">{{ category }}</span></h4>
</div>
<div id="gallery" class="container"></div>
<script>
(function () {
	'use strict';

	// Thumbnail Component
	var Thumbnail = React.createClass({
		render: function () {
			return React.createElement(
				'div',
				{
					className: 'col col-lg-4 col-md-4 col-xs-12'
				},
				React.createElement(
					'form',
					{
						method: "POST",
						className: 'thumbnail__small loading',
						encType: "multipart/form-data",
						action: "/gallery_uploader"
					},
					React.createElement(
						'div',
						{
							href: this.props.scene.detailsUrl,
							className: 'form-group'
						},
						React.createElement('input', {
							type: 'hidden',
							name: 'filename',
							value: this.props.scene.imageUrl
						}),
						React.createElement('input', {
							type: 'hidden',
							name: 'category',
							value: this.props.scene.category,
							className: 'image--category'
						}),
						React.createElement('input', {
							type: 'image',
							src: this.props.scene.imageUrl,
							width: 100,
							height: 100,
							className: 'image'
						}),
						React.createElement('input', {
							type: 'hidden',
							name: 'gallery_type',
							value: 'scene'
						})
					)
				),
				React.createElement('div', {
					className: 'room--description'
				},
				React.createElement('h3', {
					title: this.props.scene.category,
					className: 'text__big--grey title-cont'
				}),
				React.createElement('p', {
					title: 'Producer: IKEA',
					className: 'text__small--grey title-cont'
				})
			)
		)
	}
});

// Gellery Component
var Gallery = React.createClass({
	getInitialState: function () {
		return { scenes: [] };
	},
	componentDidMount: function () {
		var component = this;
		axios.get("/api/v1/scenes")
		.then(function (result) {
			component.setState({ scenes: result.data.photos });
		})
		.catch(function (error) {
			console.log(error);
		});
	},
	render: function () {
		var thumbnails = this.state.scenes.map(function (scene, i) {
			return React.createElement(Thumbnail, {
				scene: scene,
				key: 'image-' + i
			});
		});
		return React.createElement('div', {className: 'gallery col-lg-8 col-md-8 col-xs-8'}, thumbnails);
	}
});

var gallery = React.createElement(Gallery, {});

ReactDOM.render(gallery, document.getElementById('gallery'));

}());
</script>
</section>


{% endblock %}
