{% extends "base.html" %}

{% block content %}

<section class="container">

	<div class="wrong_file container">

		<div class="container-flex">

			<div class="col-lg-2 col-md-2 col-xs-2">

				<img src="/static/img/smuteczek.svg" style="width:100%;" />

			</div>

			<div class="col-lg-10 col-md-10 col-xs-10">

				<h4 class="text title__big--thick text__margin--small">Sorry, wrong file format</h4>
				<h4 class="text title__big text__margin--big">Please try again and use only .jpg or .png file</h4>
				<div class="left">
					<button id="modal-trigger2" class="button__big--blue button--wide text text__medium">Try to upload again</button>
				</div>

			</div>


		</div>

	</div>


</section>

<div class="modal" id="modal">
	<div class="inner col-lg-6 col-md-6 col-xs-8">

		<h3 class="title__big text text__centered text--bold text--white text__margin--medium">Use your own picture</h3>
		<p id="load_text" class="text__small text text__centered text--white text__margin--big">Upload the picture of interior design which inspires you. We’ll do the rest</p>
		<span id="close--white"></span>
			<form action="/uploader" id="upload_form" method="POST" enctype="multipart/form-data" runat="server">

				<div class="form__group form--upload">
					<input type = "file" id="uploaded_file" class="form-control-file" name = "file" />
					<input type="hidden" size="4" id="x1" name="x1" />
					<input type="hidden" size="4" id="y1" name="y1" />
					<input type="hidden" size="4" id="x2" name="x2" />
					<input type="hidden" size="4" id="y2" name="y2" />
					<input type="hidden" size="4" id="w" name="w" />
					<input type="hidden" size="4" id="h" name="h" />
					<input type="hidden" id="querybox" name="query">
					<input type="hidden" name="carousel" value="False">

					<div class="img-desc">
						<img class="img--responsive" src="/static/img/chair.svg" id="target">
						<p class="text text__medium text--bold text--white">Drag and drop</p>
						<p class="text text__small text--bold text--white">your picture anywhere here</p>
						<p class="text text__small text--white">or</p>
						<button class="button__border--white">Choose from computer<input type = "file" class="form-control-file" name = "file" /></button>
					</div>
				</div>

				<input type="hidden" id="querybox" name="query">

			</form>

			<div class="hidden"><a id="reset">Cancel</a></div>

			<p id="load_text-bottom" class="text text__centered text__small text--white text__margin--medium">Your JPG or PNG image can't be larger than 4000px in width and height, and must be smaller than 5MB in file size.</p>

	</div>

</div>

<section class="gallery__wide gallery--grey">

	<div class="container">
		<div class="container--not-found col-lg-12 col-md-12 col-xs-12">
			<h4 class="text text__medium text__margin--big" style="margin-left: 15px;">Inspiration gallery</h4>

			<div>
				{% for image in row %}
				<div class="col col-lg-3 col-md-3 col-xs-12">
					<form action="/gallery_uploader" method="POST" enctype="multipart/form-data">

						<div class="form-group">
							<input type="hidden" name="filename" value="{{ image.src }}"/>
							<input type="hidden" name="category" value ="{{ image.category }}" class="image--category" />
							<input type="image" class="image" src="{{ image.src }}"/>
							<input type="hidden" name="gallery_type" value="scene" />
						</div>

						<div class="room--description description-white">
							<h3 class="text__big--grey room--category">{{ image.category }}</h3>
							<p class="text__small--grey">Producer: IKEA</p>
						</div>

					</form>
				</div>
				{% endfor %}
			</div>


		</div>

	</div>

</section>


{% endblock %}
